.idea
target
**/node_modules
logs
**/hbq969-sm
**/hbq969-dict
**/api-gateway
**/plugweb
.DS_Store
.omc
**/*-me.yml
**/*-me.xml
graphify-out
.claude
.superpowers
**/components.d.ts
.claude
graphify-out
.mcp-class-index.json
