<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.code.dict.dao.DictDao">
    <select id="queryDicts" resultType="com.github.hbq969.code.dict.model.SqlDict">
        select a.app AS "app",
        a.dict_name AS "dictName",
        a.dict_desc AS "dictDesc",
        a.dict_source AS "dictSource",
        a.key_column AS "keyColumn",
        a.val_column AS "valColumn",
        count(b.pair_key) AS "dictNum",
        c.sql_content AS "sqlContent"
        from h_dict_base a
        left join h_dict_pairs b on a.dict_name = b.dict_name
        left join h_dict_sql c on a.dict_name = c.dict_name
        <where>
            <if test="dictName != null and dictName != ''">
                <bind name="dictNameLike" value="'%' + dictName + '%'"/>
                and a.dict_name like #{dictNameLike}
            </if>
            <if test="dictDesc != null and dictDesc != ''">
                <bind name="dictDescLike" value="'%' + dictDesc + '%'"/>
                and a.dict_desc like #{dictDescLike}
            </if>
            <if test="dictSource != null and dictSource != -1">
                and a.dict_source = #{dictSource}
            </if>
            <if test="app!=null and app!=''">
                <bind name="appLike" value="'%' + app + '%'"/>
                and a.app like #{appLike}
            </if>
        </where>
        group by a.app,a.dict_name, a.dict_desc, a.dict_source, a.key_column, a.val_column, c.sql_content
    </select>

    <select id="queryPairs" resultType="com.github.hbq969.code.dict.model.Pair">
        select pair_key AS "key",
            pair_value AS "value"
        from h_dict_pairs
        where dict_name= #{dn}
    </select>

    <select id="queryFixDicts" resultType="com.github.hbq969.code.dict.model.FixDict">
        select a.app             AS "app",
               a.dict_name       AS "dictName",
               a.dict_desc       AS "dictDesc",
               a.dict_source     AS "dictSource",
               a.key_column      AS "keyColumn",
               a.val_column      AS "valColumn",
               count(b.pair_key) AS "dictNum"
        from h_dict_base a
                 left join h_dict_pairs b on a.dict_name = b.dict_name
        where a.dict_source = 1
        group by a.app, a.dict_name, a.dict_desc, a.dict_source, a.key_column, a.val_column
    </select>

    <select id="querySqlDicts" resultType="com.github.hbq969.code.dict.model.SqlDict">
        select a.app         AS "app",
               a.dict_name   AS "dictName",
               a.dict_desc   AS "dictDesc",
               a.dict_source AS "dictSource",
               a.key_column  AS "keyColumn",
               a.val_column  AS "valColumn",
               b.sql_content AS "sqlContent"
        from h_dict_base a
                 left join h_dict_sql b on a.dict_name = b.dict_name
        where a.dict_source = 2
    </select>

    <select id="queryPairsWithSqlContent" resultType="map">
        ${sql}
    </select>

    <select id="queryFixDictPairs" resultType="map">
        select a.app        AS "app",
               b.dict_name  AS "dn",
               b.pair_key   AS "key",
               b.pair_value AS "value"
        from h_dict_base a,
             h_dict_pairs b
        where a.dict_name = b.dict_name
        order by b.dict_name, b.pair_key
    </select>
</mapper>